<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Recommendations</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='recommendations.css') }}">
</head>
<body>
    <div class="sky-container">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
    </div>
    <div class="container">
        <h1>Your Recommendations</h1>
        <p class="description">Here are some songs we think you’ll love based on your selection.</p>
        <div class="recommendations">
            {% for song, poster, link in songs %}
            <div class="recommendation">
                <a href="{{ link }}" target="_blank">
                    <img src="{{ poster }}" alt="{{ song }}">
                </a>
                    <p>{{ song }}</p>
            </div>
            {% endfor %}
        </div>
        <a href="/search" class="back-button">Back to Search</a>
    </div>
</body>
</html>
